body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

#data-table {
    border-collapse: collapse;
    width: 100%;
}

#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#data-table th {
    background-color: #f2f2f2;
}

.update-btn, .delete-btn {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.create-btn {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.update-btn:hover {
    background-color: orange;
    color: white;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}

.create-btn:hover {
    background-color: green;
    color: white;
}